.background{
    position: relative;
    z-index: -1;
    
    
}

#images{
    position: absolute;
    transition: 0.8s;
    
}
#images img {
    display: block;

    width: 100vw;
    height: 100vh;
    object-fit: cover;
    object-position: top;
} 